<p>rooms works!</p>

 <app-header></app-header>

<div [hidden]="isVisible">

    <h1>Hotel is Open</h1>

</div>

<button (click)="toggle()"> Hotel on/off </button>


 <div *ngIf="currentRoom" >
     {{currentRoom|json}} 
 </div>

  
 

 <app-rooms-list  [rooms]="roomList" (selectedRoom)="selectRoom($event)" ></app-rooms-list>

  <div [ngSwitch]="currentUser" >
       
    <p *ngSwitchCase="'Admin'">Admin Has logged in</p>
    <p *ngSwitchCase="'User'">User Has logged in</p>
    <p *ngSwitchDefault="">Default case due to faulty output</p>
  </div>

 

 <div [ngStyle]="myStyles">Styled Content</div> 